body {
    margin: 0;
    bottom: 0;
    /*background-image: url("imagem/1.jpg");*/
    /*background-repeat: repeat;*/
    /*background-attachment: fixed;*/
}

.main {
    max-width: 1200px;
    margin: auto;
}

.topnav {
    opacity: 0.5;
    overflow: hidden;
    background-color: #333;
    font-family: cursive;
    align-items: center;
    position: fixed;
    width: 1200px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #cc0052;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.cardapio {
    margin-top: 70px;
    height: 900px;
    text-align: center;
}

.shadow {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home {
    height: 650px;
    width: 100%;
}

.scroll-pagina {
    scroll-behavior: smooth;
}

.polaroid {
    width: 20%;
    margin: 20px 30px;
    float: left;
    border-radius: 5px;
}

.container {
    padding: 10px;
    background-color: lightpink;
}

.imagem-itens {
    width: 240px;
    height: 230px;
}

.localizacao {
    height: 600px;
    margin-left: 25px;
}

.contato {
    height: 600px;
}

.mapa {
    margin: 15px;
    height: 520px;
}

.component {
    height: 30px;
    width: 450px;
    border-radius: 5px;
    background-color: #ffe6ff;
    margin-left: 50px;
    margin-bottom: 15px;

}

label {
    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
    font-family: cursive;
    font-weight: bold;
    color: #990073;
}

.logoMenu {
    font-family: cursive;
    font-weight: bold;
    color: #990073;
}

.fundo {
    background-color: #ff99ff;
}

.sub-titulo {
    text-align: left;
    padding-left: 50px
}

.titulo {
    text-align: center;
}

#descricao {
    height: 150px !important;
}

.botao-enviar {
    margin-left: 400px;
    padding: 5px 30px
}

.card {
    transition: 0.5s;
    width: 40%;
    border-radius: 5px;
    margin: auto;
}

.card:hover {
    box-shadow: 0 5px 14px 10px rgba(0, 0, 0, 0.5);
}

.roda-pe-card {
    margin: -20px;
    padding: 2px 50px;
}

.card img {
    width: 80%;
    height: 50%;
    margin: 22px;
    border-radius: 5px;
}

p {
    font-family: cursive;
    color: #990073;
    size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

div h1 {
    margin: 0;
    font-family: cursive;
    color: #990073;
    font-size: 40px;
    font-weight: bold;
}

form div {
    width: 50%;
    height: 100%;
    float: left;
}

.polaroid img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.polaroid img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 80px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
